{{#> html}}
  <div class="chrome">
    <div class="wrapper flex fill-vh">
      <div class="flex__cell">
        {{> navigation }}
      </div>

      <div class="container flex__fill">
        <div class="container__block flex__fill">
          <p class="footnote identity">
            You are querying the <strong>{{ config.environmentName }}</strong> environment, as
            {{#if user }}
              <strong>{{ user.fullName }}</strong>.
            {{else}}
              an <strong>anonymous user</strong>.
            {{/if}}
          </p>

          <div id="graphiql" class="graphiql flex__fill"></div>

          <script>
            var jwt = '{{ user.access_token }}';
            function graphQLHttpFetcher(graphQLParams) {
              return fetch('{{ config.url }}', {
                method: 'post',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                  'Authorization': jwt.length ? 'Bearer ' + jwt : '',
                },
                body: JSON.stringify(graphQLParams),
              }).then(function (response) {
                return response.text();
              }).then(function (responseBody) {
                try {
                  return JSON.parse(responseBody);
                } catch (error) {
                  return responseBody;
                }
              });
            }

const defaultQuery = '# Type a GraphQL query into this side of the screen, and then hit\n# the "play" button above to run the query and see the results!\n#\n# For the latest schema, hit the "Docs" sidebar on the right side\n# of the page, or just start typing for live autocomplete!\n#\n# Here\'s an example query for a reportback gallery:\n{\n  posts(count: 5) {\n    url(w: 300, h: 300)\n    status\n    text\n    user {\n      firstName\n      lastName\n    }\n  }\n}';

            ReactDOM.render(
              React.createElement(GraphiQL, { fetcher: graphQLHttpFetcher, defaultQuery: defaultQuery }),
              document.getElementById('graphiql')
            );
          </script>
        </div>
      </div>
    </div>
  </div>
{{/html}}
